<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/doWithdraw">
    <label for="merchantId">Merchant id:</label><br>
    <input type="text" id="merchantId" name="merchantId"><br>
    <label for="bankCode">Bank code:</label><br>
    <input type="text" id="bankCode" name="bankCode"><br>
    <label for="accountNumber">Account number:</label><br>
    <input type="text" id="accountNumber" name="accountNumber"><br>
    <label for="amount">Amount:</label><br>
    <input type="text" id="amount" name="amount"><br>
    <label for="remark">Remark:</label><br>
    <input type="text" id="remark" name="remark"><br>
    <input type="submit" value="Submit">
</form>
<a href="/index">
    <p>back to main menu</p>
</a>
</body>
</html>